In [1]:
! pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\hp\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\hp\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [295]:
driver = webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data

In [48]:
url='https://www.naukri.com'
driver.get(url)

In [49]:
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input ')
search_job

In [50]:
search_job.send_keys('Data analyst')

In [51]:
search_locn=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn

In [52]:
search_locn.send_keys('Bangalore')

In [53]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search_btn

In [54]:
search_btn.click()

In [55]:
titles_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(titles_tags)

20

In [56]:
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles[0:10]

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst II',
 'Project Data Analyst',
 'Data Analyst, Business Analyst',
 'Data Analyst',
 'Executive - Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [57]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [58]:
company_names=[]
for j in company_tags:
    company_names.append(j.text)
company_names[0:10]

['Shell Pvt Ltd',
 'Shell Pvt Ltd',
 'Shell Pvt Ltd',
 'Flipkart',
 'WSP',
 'Clinilaunch Research Institute Llp',
 'Treebo Hotels',
 'Flipkart',
 'Cargill',
 'Eli Lilly And Company']

In [59]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [60]:
location_names=[]
for k in location_tags:
    location_names.append(k.text)
location_names[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(HSR Layout +1)',
 'Temp. WFH - Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [61]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
len(experience_tags)

20

In [62]:
experience_years=[]
for k in experience_tags:
    experience_years.append(k.text)
experience_years[0:10]

['2-5 Yrs',
 '3-5 Yrs',
 '2-5 Yrs',
 '2-4 Yrs',
 '0-4 Yrs',
 '0-5 Yrs',
 '1-5 Yrs',
 '1-5 Yrs',
 '2-4 Yrs',
 '2-6 Yrs']

In [63]:
len(job_titles),len(company_names),len(experience_years),len(location_names)

jobs=pd.DataFrame()
jobs['Job titles']= job_titles
jobs['Company ']= company_names
jobs['Experience']= experience_years
jobs['Location']= location_names
jobs[0:10]

,Job titles,Company,Experience,Location
0,Data Analyst,Shell Pvt Ltd,2-5 Yrs,Bangalore/Bengaluru
1,Data Analyst,Shell Pvt Ltd,3-5 Yrs,Bangalore/Bengaluru
2,Data Analyst,Shell Pvt Ltd,2-5 Yrs,Bangalore/Bengaluru
3,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru
4,Project Data Analyst,WSP,0-4 Yrs,Bangalore/Bengaluru
5,"Data Analyst, Business Analyst",Clinilaunch Research Institute Llp,0-5 Yrs,Bangalore/Bengaluru(HSR Layout +1)
6,Data Analyst,Treebo Hotels,1-5 Yrs,Temp. WFH - Bangalore/Bengaluru
7,Executive - Data Analyst,Flipkart,1-5 Yrs,Bangalore/Bengaluru
8,Data Analyst,Cargill,2-4 Yrs,Bangalore/Bengaluru
9,Data Analyst,Eli Lilly And Company,2-6 Yrs,Bangalore/Bengaluru

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [25]:
url='https://www.naukri.com'
driver.get(url)

In [29]:
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input ')
search_job

In [30]:
search_job.send_keys('Data Scientist')

In [31]:
search_locn=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn

In [32]:
search_locn.send_keys('Bangalore')

In [33]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search_btn

In [34]:
search_btn.click()

In [36]:
titles_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(titles_tags)

20

In [37]:
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles[0:10]

['Analystics & Modeling Specialist',
 'Data Scientist',
 'Data Scientist',
 'Data & Analytics Lead, Geo Analytics - GAMMA',
 'Weather and Climate Data Scientist',
 'Data Scientist',
 'Data Scientist - II',
 'Senior Data Scientist',
 'Manager-Data Science',
 'ACN - Applied Intelligence - Data Scientist - 09']

In [38]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [39]:
company_names=[]
for j in company_tags:
    company_names.append(j.text)
company_names[0:10]

['Accenture',
 'Tata Nexarc',
 'Tech Mahindra',
 'Boston Consulting Group',
 'Shell Pvt Ltd',
 'Mindtree',
 'Bizongo',
 'Baker Hughes',
 'AMERICAN EXPRESS',
 'Accenture']

In [40]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [41]:
location_names=[]
for k in location_tags:
    location_names.append(k.text)
location_names[0:10]

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, New Delhi, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Nagpur, Pune',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, India, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [42]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
len(experience_tags)

20

In [43]:
experience_years=[]
for k in experience_tags:
    experience_years.append(k.text)
experience_years[0:10]

['6-8 Yrs',
 '4-8 Yrs',
 '5-8 Yrs',
 '7-10 Yrs',
 '5-12 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '6-8 Yrs',
 '3-4 Yrs',
 '2-6 Yrs']

In [45]:
len(job_titles),len(company_names),len(experience_years),len(location_names)

jobs=pd.DataFrame()
jobs['Job titles']= job_titles
jobs['Company ']= company_names
jobs['Experience']= experience_years
jobs['Location']= location_names
jobs[0:10]

,Job titles,Company,Experience,Location
0,Analystics & Modeling Specialist,Accenture,6-8 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
1,Data Scientist,Tata Nexarc,4-8 Yrs,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu..."
2,Data Scientist,Tech Mahindra,5-8 Yrs,"Bangalore/Bengaluru, Nagpur, Pune"
3,"Data & Analytics Lead, Geo Analytics - GAMMA",Boston Consulting Group,7-10 Yrs,Bangalore/Bengaluru
4,Weather and Climate Data Scientist,Shell Pvt Ltd,5-12 Yrs,Bangalore/Bengaluru
5,Data Scientist,Mindtree,5-10 Yrs,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ..."
6,Data Scientist - II,Bizongo,3-6 Yrs,"Bangalore/Bengaluru, India, Mumbai (All Areas)"
7,Senior Data Scientist,Baker Hughes,6-8 Yrs,"Bangalore/Bengaluru, Mumbai"
8,Manager-Data Science,AMERICAN EXPRESS,3-4 Yrs,Bangalore/Bengaluru
9,ACN - Applied Intelligence - Data Scientist - 09,Accenture,2-6 Yrs,Bangalore/Bengaluru

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

In [64]:
url='https://www.naukri.com'
driver.get(url)

In [65]:
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input ')
search_job

In [66]:
search_job.send_keys('Data Scientist')

In [67]:
search_locn=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn

In [68]:
search_locn.send_keys('Delhi/NCR')

In [69]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search_btn

In [70]:
search_btn.click()

In [71]:
titles_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(titles_tags)

20

In [72]:
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles[0:10]

['Data Scientist',
 'Data Scientist',
 'Data Science - Engineering Manager',
 'Artificial Intelligence/Computer Vision Engineer - Machine Learning',
 'Hiring For DATA Scientist @ NTT DATA Business Solution India',
 'Senior Data Scientist - Machine Learning',
 'Data Scientist',
 'Analyst-Data Science',
 'Data Scientist - R / Python / SQL',
 'ACN - Applied Intelligence - Data & Insights - CSS - 09']

In [73]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [74]:
company_names=[]
for j in company_tags:
    company_names.append(j.text)
company_names[0:10]

['Tata Nexarc',
 'Mindtree',
 'Paytm',
 'Vicara',
 'NTT DATA Business Solutions Private Limited',
 'Global Employees',
 'HCLTech',
 'AMERICAN EXPRESS',
 'TransOrg Analytics',
 'Accenture']

In [75]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [76]:
location_names=[]
for k in location_tags:
    location_names.append(k.text)
location_names[0:10]

['Delhi / NCR, New Delhi, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Hybrid - Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Hybrid - Noida',
 'Gurgaon/Gurugram',
 'Delhi / NCR, Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram']

In [77]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
len(experience_tags)

20

In [78]:
experience_years=[]
for k in experience_tags:
    experience_years.append(k.text)
experience_years[0:10]

['4-8 Yrs',
 '5-10 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '4-9 Yrs',
 '7-12 Yrs',
 '4-9 Yrs',
 '1-5 Yrs',
 '3-6 Yrs',
 '4-6 Yrs']

In [79]:
len(job_titles),len(company_names),len(experience_years),len(location_names)

jobs=pd.DataFrame()
jobs['Job titles']= job_titles
jobs['Company ']= company_names
jobs['Experience']= experience_years
jobs['Location']= location_names
jobs[0:10]

,Job titles,Company,Experience,Location
0,Data Scientist,Tata Nexarc,4-8 Yrs,"Delhi / NCR, New Delhi, Hyderabad/Secunderabad..."
1,Data Scientist,Mindtree,5-10 Yrs,"Hybrid - Noida, Kolkata, Hyderabad/Secunderaba..."
2,Data Science - Engineering Manager,Paytm,3-5 Yrs,"New Delhi, Bangalore/Bengaluru"
3,Artificial Intelligence/Computer Vision Engine...,Vicara,1-3 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
4,Hiring For DATA Scientist @ NTT DATA Business ...,NTT DATA Business Solutions Private Limited,4-9 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
5,Senior Data Scientist - Machine Learning,Global Employees,7-12 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
6,Data Scientist,HCLTech,4-9 Yrs,Hybrid - Noida
7,Analyst-Data Science,AMERICAN EXPRESS,1-5 Yrs,Gurgaon/Gurugram
8,Data Scientist - R / Python / SQL,TransOrg Analytics,3-6 Yrs,"Delhi / NCR, Mumbai, Gurgaon/Gurugram, Bangalo..."
9,ACN - Applied Intelligence - Data & Insights -...,Accenture,4-6 Yrs,Gurgaon/Gurugram

Q4 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
Brand
Product Description
Price

In [82]:
url='https://www.flipkart.com/'
driver.get(url)

In [83]:
search_field=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_field

In [84]:
search_field.send_keys('Sunglasses')

In [85]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [86]:
search_btn.click()

In [87]:
brands_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brands_tags)

40

In [88]:
brand_titles=[]
for i in brands_tags:
    brand_titles.append(i.text)
brand_titles[0:40]

['Silver Kartz',
 'VINCENT CHASE',
 'Elligator',
 'LIZA ANGEL',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'PHENOMENAL',
 'Elligator',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'LIZA ANGEL',
 'Fastrack',
 'Elligator',
 'ROYAL SON',
 'Elligator',
 'Fastrack',
 'New Specs',
 'ROZZETTA CRAFT',
 'SRPM',
 'SUNBEE',
 'Fastrack',
 'ROZZETTA CRAFT',
 'SRPM',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Elligator',
 'Fastrack',
 'LIZA ANGEL',
 'PROVOGUE',
 'Fastrack',
 'Fastrack',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'LIZA ANGEL',
 'kingsunglasses',
 'PIRASO',
 'VINCENT CHASE']

In [89]:
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(description_tags)

40

In [90]:
description_names=[]
for j in description_tags:
    description_names.append(j.text)
description_names

['UV Protection Clubmaster Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, UV Protection Aviator Sunglasses (55)',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (59)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses, UV Protection, Night Vision Spectacle ...',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (55)',
 'Polarized, UV Protection Retro Square, Over-sized, Rect...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...']

In [91]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tags)

40

In [92]:
price=[]
for k in price_tags:
    price.append(k.text)
price

['₹278',
 '₹806',
 '₹149',
 '₹129',
 '₹599',
 '₹539',
 '₹489',
 '₹849',
 '₹129',
 '₹129',
 '₹159',
 '₹497',
 '₹129',
 '₹539',
 '₹149',
 '₹699',
 '₹286',
 '₹599',
 '₹259',
 '₹447',
 '₹149',
 '₹283',
 '₹479',
 '₹399',
 '₹179',
 '₹539',
 '₹664',
 '₹949',
 '₹149',
 '₹779',
 '₹129',
 '₹664',
 '₹479',
 '₹599',
 '₹149',
 '₹497',
 '₹129',
 '₹199',
 '₹209',
 '₹901']

In [93]:
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount_tags)

40

In [94]:
discount=[]
for k in discount_tags:
    discount.append(k.text)
discount

['81% off',
 '59% off',
 '75% off',
 '87% off',
 '40% off',
 '40% off',
 '38% off',
 '57% off',
 '87% off',
 '87% off',
 '90% off',
 '75% off',
 '87% off',
 '40% off',
 '85% off',
 '65% off',
 '88% off',
 '40% off',
 '90% off',
 '77% off',
 '88% off',
 '78% off',
 '40% off',
 '80% off',
 '82% off',
 '40% off',
 '66% off',
 '62% off',
 '87% off',
 '40% off',
 '74% off',
 '74% off',
 '40% off',
 '40% off',
 '85% off',
 '75% off',
 '56% off',
 '80% off',
 '86% off',
 '54% off']

In [95]:
next_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_btn

In [96]:
next_btn.click()

In [97]:
brands_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brands_tags)

40

In [98]:
brand_titles2=[]
for i in brands_tags:
    brand_titles2.append(i.text)
brand_titles2[0:40]

['kingsunglasses',
 'LIZA ANGEL',
 'VINCENT CHASE',
 'Silver Kartz',
 'Satyam Kraft',
 'Elligator',
 'kingsunglasses',
 'ROYAL SON',
 'Sewell',
 'Fastrack',
 'Ray-Ban',
 'VINCENT CHASE',
 'kingsunglasses',
 'New Specs',
 'Elligator',
 'VINCENT CHASE',
 'New Specs',
 'NuVew',
 'New Specs',
 'PROVOGUE',
 'PIRASO',
 'Elligator',
 'LIZA ANGEL',
 'hayden haiza',
 'Lee Topper',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'NuVew',
 'ROYAL SON',
 'Singco India',
 'METRONAUT',
 'Fastrack',
 'Elligator',
 'VINCENT CHASE',
 'PIRASO',
 'PIRASO',
 'Rich Club',
 'ROYAL SON']

In [99]:
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(description_tags)

40

In [100]:
description_names2=[]
for j in description_tags:
    description_names2.append(j.text)
description_names2[0:40]

['UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square, Over-sized, Rect...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Spectacle Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (50)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (52)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Aviator Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (55)',
 'UV Protection Round Sunglasses (50)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Gradient Sunglass',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Over-sized Sunglasses (64)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Aviator Sunglasses (57)']

In [101]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tags)

40

In [102]:
price2=[]
for k in price_tags:
    price2.append(k.text)
price2

['₹199',
 '₹129',
 '₹1,061',
 '₹284',
 '₹269',
 '₹149',
 '₹129',
 '₹399',
 '₹265',
 '₹539',
 '₹2,699',
 '₹701',
 '₹265',
 '₹128',
 '₹179',
 '₹949',
 '₹199',
 '₹115',
 '₹125',
 '₹664',
 '₹329',
 '₹179',
 '₹129',
 '₹413',
 '₹195',
 '₹599',
 '₹969',
 '₹497',
 '₹2,699',
 '₹117',
 '₹399',
 '₹597',
 '₹244',
 '₹599',
 '₹149',
 '₹949',
 '₹426',
 '₹410',
 '₹258',
 '₹759']

In [103]:
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount_tags)

40

In [104]:
discount2=[]
for k in discount_tags:
    discount2.append(k.text)
discount2

['80% off',
 '56% off',
 '46% off',
 '81% off',
 '77% off',
 '85% off',
 '87% off',
 '73% off',
 '82% off',
 '40% off',
 '51% off',
 '71% off',
 '84% off',
 '87% off',
 '82% off',
 '52% off',
 '87% off',
 '86% off',
 '87% off',
 '74% off',
 '87% off',
 '88% off',
 '67% off',
 '83% off',
 '80% off',
 '25% off',
 '25% off',
 '75% off',
 '50% off',
 '84% off',
 '73% off',
 '80% off',
 '81% off',
 '40% off',
 '88% off',
 '52% off',
 '83% off',
 '84% off',
 '63% off',
 '62% off']

In [105]:
next_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_btn

In [106]:
next_btn.click()

In [107]:
brands_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brands_tags)

40

In [108]:
brand_titles3=[]
for i in brands_tags:
    brand_titles3.append(i.text)
brand_titles3[0:20]

['Rich Club',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'AISLIN',
 'ROYAL SON',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Singco India',
 'NuVew',
 'SRPM',
 'ROYAL SON',
 'kingsunglasses',
 'Fastrack',
 'NuVew',
 'ROYAL SON',
 'ROYAL SON',
 'LIZA ANGEL',
 'kingsunglasses',
 'Ray-Ban']

In [109]:
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(description_tags)

40

In [110]:
description_names3=[]
for j in description_tags:
    description_names3.append(j.text)
description_names3[0:20]

['Polarized Round Sunglasses (48)',
 'UV Protection Aviator Sunglasses (55)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Polarized, Night Vision, UV Protection Aviator Sunglass...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (54)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Sports Sunglasses (62)',
 'UV Protection Cat-eye, Over-sized Sunglasses (62)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection, Riding Glasses, Night Vision Spectacle ...',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)']

In [111]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tags)

40

In [112]:
price3=[]
for k in price_tags:
    price3.append(k.text)
price3[0:20]

['₹205',
 '₹649',
 '₹949',
 '₹749',
 '₹485',
 '₹664',
 '₹257',
 '₹449',
 '₹597',
 '₹288',
 '₹129',
 '₹799',
 '₹267',
 '₹769',
 '₹289',
 '₹699',
 '₹699',
 '₹129',
 '₹198',
 '₹5,805']

In [113]:
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount_tags)

40

In [114]:
discount3=[]
for k in discount_tags:
    discount3.append(k.text)
discount3[0:20]

['58% off',
 '74% off',
 '52% off',
 '62% off',
 '71% off',
 '66% off',
 '83% off',
 '77% off',
 '80% off',
 '76% off',
 '87% off',
 '60% off',
 '82% off',
 '14% off',
 '76% off',
 '53% off',
 '65% off',
 '74% off',
 '84% off',
 '21% off']

In [115]:
sunglasses1=pd.DataFrame()
sunglasses1['Brand']= brand_titles
sunglasses1['Product Description ']= description_names
sunglasses1['Price']= price
sunglasses1['Discount']= discount

sunglasses2=pd.DataFrame()
sunglasses2['Brand']= brand_titles2
sunglasses2['Product Description ']= description_names2
sunglasses2['Price']= price2
sunglasses2['Discount']= discount2

sunglasses3=pd.DataFrame()
sunglasses3['Brand']= brand_titles3
sunglasses3['Product Description ']= description_names3
sunglasses3['Price']= price3
sunglasses3['Discount']= discount3


sunglasses=pd.concat([sunglasses1,sunglasses2,sunglasses3[0:20]])
sunglasses

,Brand,Product Description,Price,Discount
0,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹278,81% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹806,59% off
2,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
3,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹129,87% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹599,40% off
...,...,...,...,...
15,ROYAL SON,"UV Protection Cat-eye, Over-sized Sunglasses (62)",₹699,53% off
16,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (62)",₹699,65% off
17,LIZA ANGEL,"UV Protection, Riding Glasses, Night Vision Sp...",₹129,74% off
18,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹198,84% off
19,Ray-Ban,UV Protection Aviator Sunglasses (58),"₹5,805",21% off

Q5:Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to scrape four attributes: 
Rating
Review summary
Full review

In [116]:
url='https://www.flipkart.com/search?q=iphone+11+64+gb&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_12_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_12_na_na_na&as-pos=3&as-type=RECENT&suggestionId=iphone+11+64+gb&requestId=064ec048-2ee3-4ea6-8e9e-548f8d51d4b5&as-backfill=on'
driver.get(url)

In [117]:
all_btn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a')
all_btn

In [118]:
all_btn.click()

In [119]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags)

ratings=[]
for i in rating_tags:
    ratings.append(i.text)
ratings

['5', '5', '5', '5', '5', '5', '4', '5']

In [120]:
summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(summary_tags)

review_summary=[]
for j in summary_tags:
    review_summary.append(j.text)
review_summary

['Perfect product!',
 'Terrific',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Simply awesome',
 'Good quality product',
 'Perfect product!']

In [121]:
review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
len(review)

8

In [122]:
full_summary=[]
for k in review:
    full_summary.append(k.text)
full_summary

["After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...\nRead full review',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Awesome product ❤️❤️\nThank you Flipkart',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Loving it , but the price is bitter and costly.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat']

In [123]:
next_btn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[3]/div/div/div/a')
next_btn

In [124]:
next_btn.click()

In [125]:
rating_tags1=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags1)

ratings1=[]
for i in rating_tags1:
    ratings1.append(i.text)
ratings1

['5', '5', '5', '5', '5', '5', '4', '5']

In [126]:
summary_tags1=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(summary_tags1)

review_summary1=[]
for j in summary_tags1:
    review_summary1.append(j.text)
review_summary1

['Perfect product!',
 'Terrific',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Simply awesome',
 'Good quality product',
 'Perfect product!']

In [127]:
review1=driver.find_elements(By.XPATH,'//div[@class=""]')
len(review1)

full_summary1=[]
for k in review1:
    full_summary1.append(k.text)
full_summary1

["After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...',
 'Awesome product ❤️❤️\nThank you Flipkart',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Loving it , but the price is bitter and costly.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...",
 'Nice products thanks flkat']

In [128]:
next_btn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[4]/div/div/div/a')
next_btn

In [129]:
next_btn.click()

In [130]:
rating_tags2=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags2)

ratings2=[]
for i in rating_tags2:
    ratings2.append(i.text)
ratings2

['5', '5', '5', '5', '5', '5', '4', '5']

In [131]:
summary_tags2=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(summary_tags2)

review_summary2=[]
for j in summary_tags2:
    review_summary2.append(j.text)
review_summary2

['Perfect product!',
 'Terrific',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Simply awesome',
 'Good quality product',
 'Perfect product!']

In [132]:
summary_tags2=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(summary_tags2)

review_summary2=[]
for j in summary_tags2:
    review_summary2.append(j.text)
review_summary2

['Perfect product!',
 'Terrific',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Simply awesome',
 'Good quality product',
 'Perfect product!']

In [133]:
review2=driver.find_elements(By.XPATH,'//div[@class=""]')
len(review2)

full_summary2=[]
for k in review2:
    full_summary2.append(k.text)
full_summary2

["After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...',
 'Awesome product ❤️❤️\nThank you Flipkart',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Loving it , but the price is bitter and costly.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...",
 'Nice products thanks flkat']

In [134]:
next_btn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[5]/div/div/div/a')
next_btn

In [135]:
next_btn.click()

In [136]:
rating_tags3=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags3)

ratings3=[]
for i in rating_tags3:
    ratings3.append(i.text)
ratings3

['5', '5', '5', '5', '5', '5', '4', '5']

In [137]:
z=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(z)

z3=[]
for i in z:
    z3.append(i.text)
z3
ratings3.insert(8,z3)
ratings3

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 ['5', '5', '5', '5', '5', '5', '4', '5']]

In [138]:
summary_tags3=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(summary_tags3)

review_summary3=[]
for j in summary_tags3:
    review_summary3.append(j.text)
review_summary3

['Perfect product!',
 'Terrific',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Simply awesome',
 'Good quality product',
 'Perfect product!']

In [139]:
review3=driver.find_elements(By.XPATH,'//div[@class=""]')
len(review3)

full_summary3=[]
for k in review3:
    full_summary3.append(k.text)
full_summary3

["After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...',
 'Awesome product ❤️❤️\nThank you Flipkart',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Loving it , but the price is bitter and costly.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...",
 'Nice products thanks flkat']

In [140]:
next_btn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[6]/div/div/div/a/div[2]/div[1]/div[1]')
next_btn

In [141]:
next_btn.click()

In [142]:
rating_tags4=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags4)

ratings4=[]
for i in rating_tags4:
    ratings4.append(i.text)
ratings4

['5', '5', '5', '5', '5', '5', '4', '5']

In [143]:
summary_tags4=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(summary_tags4)

review_summary4=[]
for j in summary_tags4:
    review_summary4.append(j.text)
review_summary4

['Perfect product!',
 'Terrific',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Simply awesome',
 'Good quality product',
 'Perfect product!']

In [144]:
review4=driver.find_elements(By.XPATH,'//div[@class=""]')
len(review4)

full_summary4=[]
for k in review4:
    full_summary4.append(k.text)
full_summary4

["After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...',
 'Awesome product ❤️❤️\nThank you Flipkart',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Loving it , but the price is bitter and costly.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...",
 'Nice products thanks flkat']

In [145]:
next_btn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[7]/div/div/div/a')
next_btn

In [146]:
next_btn.click()

In [147]:
rating_tags5=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags5)

ratings5=[]
for i in rating_tags5:
    ratings5.append(i.text)
ratings5

['5', '5', '5', '5', '5', '5', '4', '5']

In [148]:
summary_tags5=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(summary_tags5)

review_summary5=[]
for j in summary_tags5:
    review_summary5.append(j.text)
review_summary5

['Perfect product!',
 'Terrific',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Simply awesome',
 'Good quality product',
 'Perfect product!']

In [149]:
review5=driver.find_elements(By.XPATH,'//div[@class=""]')
len(review5)

full_summary5=[]
for k in review5:
    full_summary5.append(k.text)
full_summary5

["After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...',
 'Awesome product ❤️❤️\nThank you Flipkart',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Loving it , but the price is bitter and costly.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...",
 'Nice products thanks flkat']

In [150]:
next_btn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[8]/div/div/div/a')
next_btn

In [151]:
next_btn.click()

In [152]:
rating_tags6=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags6)

ratings6=[]
for i in rating_tags6:
    ratings6.append(i.text)
ratings6

['5', '5', '5', '5', '5', '5', '4', '5']

In [153]:
z1=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(z1)

8

In [154]:
z6=[]
for i in z1:
    z6.append(i.text)
z6
ratings6.insert(8,z6)
ratings6

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 ['5', '5', '5', '5', '5', '5', '4', '5']]

In [155]:
summary_tags6=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(summary_tags6)

review_summary6=[]
for j in summary_tags6:
    review_summary6.append(j.text)
review_summary6

['Perfect product!',
 'Terrific',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Simply awesome',
 'Good quality product',
 'Perfect product!']

In [156]:
review6=driver.find_elements(By.XPATH,'//div[@class=""]')
len(review6)

full_summary6=[]
for k in review6:
    full_summary6.append(k.text)
full_summary6

["After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...',
 'Awesome product ❤️❤️\nThank you Flipkart',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Loving it , but the price is bitter and costly.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...",
 'Nice products thanks flkat']

In [157]:
next_btn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[9]/div/div/div/a')
next_btn

In [158]:
next_btn.click()

In [159]:
rating_tags7=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags7)

ratings7=[]
for i in rating_tags7:
    ratings7.append(i.text)
ratings7

['5', '5', '5', '5', '5', '5', '4', '5']

In [160]:
z2=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(z2)

z7=[]
for i in z2:
    z7.append(i.text)
z7
ratings7.insert(7,z6)
ratings7

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 ['5', '5', '5', '5', '5', '5', '4', '5'],
 '5']

In [161]:
summary_tags7=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(summary_tags7)

review_summary7=[]
for j in summary_tags7:
    review_summary7.append(j.text)
review_summary7

['Perfect product!',
 'Terrific',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Simply awesome',
 'Good quality product',
 'Perfect product!']

In [162]:
review7=driver.find_elements(By.XPATH,'//div[@class=""]')
len(review7)

full_summary7=[]
for k in review7:
    full_summary7.append(k.text)
full_summary7

["After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...',
 'Awesome product ❤️❤️\nThank you Flipkart',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Loving it , but the price is bitter and costly.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...",
 'Nice products thanks flkat']

In [163]:
next_btn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[9]/div/div/div/a')
next_btn

In [164]:
next_btn.click()

In [165]:
rating_tags8=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags8)

ratings8=[]
for i in rating_tags8:
    ratings8.append(i.text)
ratings8

['5', '5', '5', '5', '5', '5', '4', '5']

In [166]:
summary_tags8=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(summary_tags8)

review_summary8=[]
for j in summary_tags8:
    review_summary8.append(j.text)
review_summary8

['Perfect product!',
 'Terrific',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Simply awesome',
 'Good quality product',
 'Perfect product!']

In [167]:
review8=driver.find_elements(By.XPATH,'//div[@class=""]')
len(review8)

full_summary8=[]
for k in review8:
    full_summary8.append(k.text)
full_summary8

["After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...',
 'Awesome product ❤️❤️\nThank you Flipkart',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Loving it , but the price is bitter and costly.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...",
 'Nice products thanks flkat']

In [168]:
next_btn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[10]/div/div/div/a')
next_btn

In [169]:
next_btn.click()

In [170]:
rating_tags9=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags9)

ratings9=[]
for i in rating_tags9:
    ratings9.append(i.text)
ratings9

['5', '5', '5', '5', '5', '5', '4', '5']

In [171]:
summary_tags9=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(summary_tags9)

review_summary9=[]
for j in summary_tags9:
    review_summary9.append(j.text)
review_summary9

['Perfect product!',
 'Terrific',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Simply awesome',
 'Good quality product',
 'Perfect product!']

In [172]:
review9=driver.find_elements(By.XPATH,'//div[@class=""]')
len(review9)

full_summary9=[]
for k in review9:
    full_summary9.append(k.text)
full_summary9

["After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...',
 'Awesome product ❤️❤️\nThank you Flipkart',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Loving it , but the price is bitter and costly.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...",
 'Nice products thanks flkat']

In [173]:
iphone=pd.DataFrame()
iphone['Rating']=pd.Series(ratings)
iphone['Review Summary']=pd.Series(review_summary)
iphone['Full Summary']=pd.Series(full_summary)

iphone1=pd.DataFrame()
iphone1['Rating']=pd.Series(ratings1)
iphone1['Review Summary']=pd.Series(review_summary1)
iphone1['Full Summary']=pd.Series(full_summary1)

iphone2=pd.DataFrame()
iphone2['Rating']=pd.Series(ratings2)
iphone2['Review Summary']=pd.Series(review_summary2)
iphone2['Full Summary']=pd.Series(full_summary2)

iphone3=pd.DataFrame()
iphone3['Rating']=pd.Series(ratings3)
iphone3['Review Summary']=pd.Series(review_summary3)
iphone3['Full Summary']=pd.Series(full_summary3)

iphone4=pd.DataFrame()
iphone4['Rating']=pd.Series(ratings4)
iphone4['Review Summary']=pd.Series(review_summary4)
iphone4['Full Summary']=pd.Series(full_summary4)

iphone5=pd.DataFrame()
iphone5['Rating']=pd.Series(ratings5)
iphone5['Review Summary']=pd.Series(review_summary5)
iphone5['Full Summary']=pd.Series(full_summary5)

iphone6=pd.DataFrame()
iphone6['Rating']=pd.Series(ratings6)
iphone6['Review Summary']=pd.Series(review_summary6)
iphone6['Full Summary']=pd.Series(full_summary6)

iphone7=pd.DataFrame()
iphone7['Rating']=pd.Series(ratings7)
iphone7['Review Summary']=pd.Series(review_summary7)
iphone7['Full Summary']=pd.Series(full_summary7)

iphone8=pd.DataFrame()
iphone8['Rating']=pd.Series(ratings8)
iphone8['Review Summary']=pd.Series(review_summary8)
iphone8['Full Summary']=pd.Series(full_summary8)

iphone9=pd.DataFrame()
iphone9['Rating']=pd.Series(ratings9)
iphone9['Review Summary']=pd.Series(review_summary9)
iphone9['Full Summary']=pd.Series(full_summary9)

In [174]:
iphone11=pd.concat([iphone,iphone1,iphone2,iphone3,iphone4,iphone5,iphone6,iphone7,iphone8,iphone9])
iphone11

,Rating,Review Summary,Full Summary
0,5,Perfect product!,After using 3 years mobile review. Excellent &...
1,5,Terrific,I am using the phone for last 5 years and foun...
2,5,Fabulous!,Fast performance to previous iPhone x\nGood ca...
3,5,Great product,Awesome product ❤️❤️\nThank you Flipkart
4,5,Simply awesome,Really satisfied with the Product I received.....
...,...,...,...
3,5,Great product,Awesome product ❤️❤️\nThank you Flipkart
4,5,Simply awesome,Really satisfied with the Product I received.....
5,5,Simply awesome,"Loving it , but the price is bitter and costly."
6,4,Good quality product,impressively Nice......\nOne of the greatest i...
7,5,Perfect product!,Nice products thanks flkat

Q6.Scrape data for first 100 sneakers you find when you visit flipkart.com
Brand
Product Description
Price

In [175]:
url="https://www.flipkart.com/"
driver.get(url)

In [176]:
search_g= driver.find_element(By.XPATH,"//input[@type='text']")
search_g

In [177]:
search_g.send_keys('sneakers')

In [178]:
search_btn=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn

In [179]:
search_btn=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn.click()

In [180]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [181]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [182]:
print(len(B_name[:100])),
print(len(Price[:100])),
print(len(P_desc[:100])),
print(len(Discount[:100]))

100
100
100
100

In [183]:
sun_gl=pd.DataFrame({})

sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]

In [184]:
sun_gl

,Brand_name,P_price,Pr_desc,P_discount
0,ANTA,"₹4,509₹8,19945% off",A-Shock Sneakers For Men,45% off
1,aadi,"₹399₹1,99980% off",Sneakers For Men,80% off
2,Labbin,₹399₹99960% off,Sneakers For Men,60% off
3,Shozie,₹295₹99970% off,Sneakers For Men,70% off
4,aadi,"₹359₹1,99982% off",Mesh | Ultralightweight | Comfortable | Breath...,82% off
...,...,...,...,...
95,ANTA,₹299₹99970% off,WALKER Sneakers For Men,45% off
96,Labbin,₹209₹59965% off,Sneakers For Men,60% off
97,Deals4you,₹599₹99940% off,Sneakers For Women,70% off
98,SFR,"₹389₹1,49974% off",PLANCK Smart Blue Lace-Ups Casuals Sneakers Sn...,65% off
99,ANTA,₹229₹99977% off,A-FLASHFOAM Sneakers For Men,45% off

Q7.Go to webpage https://www.amazon.in/
Title
Ratings
Price

In [185]:
url='https://www.amazon.in/'
driver.get(url)

In [207]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
Search

In [208]:
Search.send_keys('Laptop')

In [209]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn

In [210]:
search_btn.click()

In [211]:
see_more=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/div[6]/span')

In [212]:
see_more.click()

In [213]:
cpu_type=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/li[12]/span/a')

In [214]:
cpu_type.click()

In [236]:
titles_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
len(titles_tags)

30

In [239]:
brand_titles=[]
for i in titles_tags:
    brand_titles.append(i.text)
brand_titles[0:10]

['HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'Acer Swift 5 Intel Evo Premium 14 Inches Full Hd Ips Touch Display 11Th Gen Intel Core I7-1165G7 Processor Thin And Light Laptop 16Gb Lpddr4X 1Tb Ssd Backlit Keyboard Windows 11 Mso 2021, Green, Large',
 'HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm),OLED,400 nits,UWVA, Eye Safe Laptop/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO 2021, 14-eh0024TU',
 '(Renewed) HP ProBook 430 G3 6th Gen Intel Core i7 Thin & Light HD Laptop (8 GB DDR4 RAM/256 GB SSD/13.3" (33.8 cm)/Windows 11/MS Office/Wifi/Bluetooth 4.0/Webcam/Integrated Graphics)',
 'Acer Nitro 5 Gaming Laptop Intel core i7 11th Gen (16 GB/ 512 GB SSD/ NVIDIA® GeForce RTX 3050 Ti/ Windows 11 Home/144hz) AN515-57 with 39.6 cm (15.6 inches) IPS Display / 2.2 Kgs',
 '(Renewed) HP ProBook 430 G3 6th Gen Intel Core i7 Thin & Light HD Laptop (8 GB DDR4 RAM/500 GB HDD/13.3" (33.8 cm)/Windows 11/MS Office/Wifi/Bluetooth 4.0/Webcam/Integrated Graphics)',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU',
 'Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Laptop (16GB/512GB SSD/Win 11/Office 2021/Backlit KB/Fingerprint/FHD Camera/Alexa/3 Month Game Pass/Storm Grey/1.85Kg), 82SF004XIN',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF']

In [242]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span[2]')
len(rating_tags)

35

In [243]:
ratings=[]
for j in rating_tags:
    ratings.append(j.text)
ratings

['19',
 '4',
 '88',
 '41',
 '8',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '16',
 '167',
 '42',
 '54',
 '1,174',
 '306',
 '90',
 '10',
 '664',
 '167',
 '2',
 '19',
 '24',
 '2',
 '27',
 '1',
 '18',
 '3',
 '42',
 '42',
 '32',
 '1']

In [244]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
len(price_tags)

38

In [245]:
price=[]
for j in price_tags:
    price.append(j.text)
price

['82,490',
 '1,05,385',
 '95,546',
 '24,939',
 '79,990',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '22,999',
 '57,990',
 '89,000',
 '82,990',
 '53,500',
 '65,990',
 '82,490',
 '1,49,900',
 '91,200',
 '57,990',
 '21,990',
 '87,860',
 '82,490',
 '41,499',
 '4,82,990',
 '1,06,874',
 '1,37,000',
 '1,03,490',
 '99,990',
 '1,09,990',
 '94,391',
 '84,900',
 '1,18,190',
 '1,49,990',
 '2,10,490']

Q8.Write a python program to scrape data for Top 1000 Quotes of All Time
1. First get the webpage https://www.azquotes.com/
2. Click on Top Quotes

In [250]:
url="https://www.azquotes.com/"
driver.get(url)

In [251]:
search_field=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search_field

In [252]:
search_field.send_keys('top quotes')

In [253]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search_btn

In [254]:
search_btn.click()

In [255]:
quotes_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
len(quotes_tags)

100

In [256]:
quote_titles=[]
for i in quotes_tags:
    quote_titles.append(i.text)
quote_titles[0:40]

['The essence of strategy is choosing what not to do.',
 'One cannot and must not try to erase the past merely because it does not fit the present.',
 'Patriotism means to stand by the country. It does not mean to stand by the president.',
 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.',
 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.',
 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.',
 'Weak people revenge. Strong people forgive. Intelligent People Ignore.',
 "A mind is like a parachute. It doesn't work if it is not open.",
 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.',
 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.',
 "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.",
 'The difference between stupidity and genius is that genius has its limits.',
 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.',
 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.',
 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.',
 'A person who never made a mistake never tried anything new.',
 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style',
 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.',
 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.',
 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.',
 'Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.',
 'To be a Christian means to forgive the inexcusable because God has forgiven the inexcusable in you.',
 'A man who is good enough to shed his blood for the country is good enough to be given a square deal afterwards.',
 'Kindness is the language which the deaf can hear and the blind can see.',
 'Most folks are as happy as they make up their minds to be.',
 'A happy marriage is the union of two good forgivers.',
 'I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.',
 'Politics is the art of looking for trouble, finding it everywhere, diagnosing it incorrectly and applying the wrong remedies.',
 "I believe in everything until it's disproved. So I believe in fairies, the myths, dragons. It all exists, even if it's in your mind. Who's to say that dreams and nightmares aren't as real as the here and now?",
 'At the end of your life, you will never regret not having passed one more test, not winning one more verdict or not closing one more deal. You will regret time not spent with a husband, a friend, a child, or a parent.',
 'I never think of the future - it comes soon enough.',
 "Our greatest fear should not be of failure but of succeeding at things in life that don't really matter.",
 'Failure is simply the opportunity to begin again, this time more intelligently.',
 'Music expresses that which cannot be put into words.',
 'Good actions are a guard against the blows of adversity.',
 'Positive thinking will let you do everything better than negative thinking will.',
 "You have enemies? Good. That means you've stood up for something, sometime in your life.",
 "You don't have to be great to start, but you have to start to be great",
 'Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.',
 "If you want total security, go to prison. There you're fed, clothed, given medical care and so on. The only thing lacking... is freedom."]

In [257]:
authors_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
len(authors_tags)

100

In [258]:
author_names=[]
for j in authors_tags:
    author_names.append(j.text)
author_names

['Michael Porter',
 'Golda Meir',
 'Theodore Roosevelt',
 'Nelson Mandela',
 'Erma Bombeck',
 'John Wooden',
 'Albert Einstein',
 'Frank Zappa',
 'William Faulkner',
 'Will Rogers',
 'Jimmy Carter',
 'Albert Einstein',
 'Abraham Lincoln',
 'Steven Weinberg',
 'Franklin D. Roosevelt',
 'Albert Einstein',
 'Maya Angelou',
 'Mark Twain',
 'Theodore Roosevelt',
 'Michael Jackson',
 'Martin Luther King, Jr.',
 'C. S. Lewis',
 'Theodore Roosevelt',
 'Mark Twain',
 'Abraham Lincoln',
 'Ruth Graham',
 'C. S. Lewis',
 'Groucho Marx',
 'John Lennon',
 'Barbara Bush',
 'Albert Einstein',
 'Francis Chan',
 'Henry Ford',
 'Victor Hugo',
 'Abu Bakr',
 'Zig Ziglar',
 'Winston Churchill',
 'Zig Ziglar',
 'John F. Kennedy',
 'Dwight D. Eisenhower',
 'Winston Churchill',
 'Albert Einstein',
 'Willie Nelson',
 'Johnny Cash',
 'Marie Curie',
 'Maya Angelou',
 'Amy Bloom',
 'Zig Ziglar',
 'John Lennon',
 'Thomas Sowell',
 'Max Lucado',
 'Martin Luther King, Jr.',
 'Salma Hayek',
 'Thomas Sowell',
 'Martin Luther King, Jr.',
 'Douglas MacArthur',
 'Douglas MacArthur',
 'George S. Patton',
 'Corrie Ten Boom',
 'Jim Courier',
 'Zig Ziglar',
 'Edgar Allan Poe',
 'Zig Ziglar',
 'Stephen Covey',
 'Pablo Neruda',
 'Joe Frazier',
 'Bill Cosby',
 'Lewis Grizzard',
 'Les Brown',
 'Meister Eckhart',
 'Muhammad Ali',
 'John C. Maxwell',
 'Thomas A. Edison',
 'Neil Armstrong',
 'Rose Kennedy',
 'Martin Luther',
 'Ronald Reagan',
 'Andrew Murray',
 'Arianna Huffington',
 'Anne Frank',
 'Corrie Ten Boom',
 'Robin Williams',
 'Nelson Mandela',
 'Walt Disney',
 'John F. Kennedy',
 'Mark Twain',
 'John Stott',
 'Wayne Dyer',
 'Steve Jobs',
 'Maya Angelou',
 'Satchel Paige',
 'Mwai Kibaki',
 'Roald Dahl',
 'Robert H. Schuller',
 'Bill Vaughan',
 'Hunter S. Thompson',
 'Corrie Ten Boom',
 'Dalai Lama',
 'Mother Teresa',
 'Norman Vincent Peale']

In [259]:
type_qutoes_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
len(type_qutoes_tags)

100

In [260]:
type_quote=[]
for k in type_qutoes_tags:
    type_quote.append(k.text)
type_quote

['Essence, Deep Thought, Transcendentalism',
 'Inspiration, Past, Trying',
 'Country, Peace, War',
 'Inspirational, Motivational, Death',
 '4th Of July, Food, Patriotic',
 'Inspirational, Success, Basketball',
 'Strong, Revenge, Intelligent',
 'Inspirational, Teacher, Religious',
 'Truth, Honesty, Lying',
 'Funny, Reading, Learning',
 'Strong, Thoughtful, Compassion',
 'Love, Funny, Life',
 'Freedom, Men, Democracies Have',
 'God, Religious, Atheist',
 'Respect, Kindness, Character',
 'Inspirational, Motivational, Change',
 'Inspirational, Life, Inspiring',
 'Love, Inspirational, Life',
 'Inspiring, Country, 4th Of July',
 'Inspirational, Dream, Hate',
 'Love, Inspirational, Life',
 'Forgiveness, God, Christian',
 'Country, Men, Squares',
 'Inspirational, Relationship, Positive',
 'Inspirational, Motivational, Positive',
 'Love, Friendship, Relationship',
 'Faith, God, Christian',
 'Art, Freedom, Political Will',
 'Inspirational, Life, Faith',
 'Inspirational, Life, Meaningful',
 'Happiness, Time, Clever',
 'Inspirational, Inspiring, Success',
 'Love, Inspirational, Life',
 'Music, Sound And Music, Musical Life',
 'Adversity, Blow, Action',
 'Positive, Thinking Of You, Attitude',
 'Inspirational, Funny, Life',
 'Inspirational, Life, Motivational',
 'Inspirational, Memorial Day, Freedom',
 'Freedom, Patriotic, Vaccines',
 'Philosophy, Ignorance, Democratic Socialism',
 'Inspirational, Dance, Education',
 'Life, Change, Positive',
 'Life, Bullying, Mistake',
 'Life, Nature, Children',
 'Inspirational, Life, Motivational',
 'Marriage, Love You, Long',
 'Inspirational, Motivational, Success',
 'Love, Inspirational, Life',
 'Diversity, Important, Liberty',
 'Inspirational, God, Faith',
 'Inspirational, Motivational, Inspiring',
 'Beauty, Love Yourself, Your Beautiful',
 'Business, Stupid, Government',
 'Inspirational, Life, Motivational',
 'Peace, Military, War',
 'Inspirational, Leadership, Confidence',
 'Motivational, Military, War',
 'Christian, Jesus, Confusing',
 'Inspirational, Success, Sports',
 'Inspirational, Motivational, Success',
 'Inspirational, Life, Clever',
 'Inspirational, Death, Failure',
 'Inspirational, Life, Motivational',
 'Inspiring, Hope, Spring',
 'Motivational, Running, People',
 'Inspirational, Motivational, Positive',
 'Summer, Food, Garden',
 'Inspirational, Life, Motivational',
 'Inspirational, Life, Thank You',
 'Funny, Sports, Jobs',
 'Being Strong, Wisdom, Stay Strong',
 'Inspirational, Motivational, Positive',
 'Motivational, Positive, Moon',
 'Time, Pain, Get Well',
 'Life, God, Christian',
 'President, Needs, Purpose',
 'God, Faith, Christian',
 'Women, Failure, Successful',
 'Inspirational, Morning, Kindness',
 'Hiding Place, Ability, Baby Boom',
 'Inspirational, Change, Philosophy',
 'Love, Inspirational, Life',
 'Inspirational, Family, Inspiring',
 'Inspirational, Success, Courage',
 'Inspirational, Life, Motivational',
 'Christian, Vision, Missionary',
 'Inspirational, Positive, Regret',
 'Love, Inspirational, Life',
 'Inspirational, Life, Encouragement',
 'Happy Birthday, Baseball, Fun',
 'Leadership, Power, Opportunity',
 'Inspirational, Life, Positive',
 'Inspirational, Encouraging, Patience',
 'New Year, Fun, New Beginnings',
 'Music, Sports, Hunting',
 'Trust, Encouraging, Uplifting',
 'Inspirational, Funny, Change',
 'Success, God, Mother',
 'Inspirational, Motivational, Change']

In [261]:
quote_titles=[]
for i in quotes_tags:
    quote_titles.append(i.text)
quote_titles[0:40]

author_names=[]
for j in authors_tags:
    author_names.append(j.text)
author_names

type_quote=[]
for k in type_qutoes_tags:
    type_quote.append(k.text)
type_quote

df=pd.DataFrame({'quote_titles':quote_titles,'author_names':author_names,'type_quote':type_quote})
df

,quote_titles,author_names,type_quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q9.Write a python program to display list of respected former Prime Ministers of India from https://www.jagranjosh.com

In [296]:
url="https://www.jagranjosh.com/"
driver.get(url)

In [297]:
search_btn=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
search_btn

In [298]:
search_btn.click()

In [299]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
search_btn

In [300]:
search_btn.click()

In [301]:
name_tags=driver.find_elements(By.XPATH,'//a[@target="_blank"]')
len(name_tags)

39

In [302]:
name_titles=[]
for i in name_tags:
    name_titles.append(i.text)
name_titles[0:40]

['',
 '',
 '',
 'SRM University',
 'NEW\nMock Test',
 '',
 '',
 '',
 'Narendra Modi',
 'List of Movies to Learn English: Watch These English Movies To Learn The Language Quickly!',
 'Yogi Adityanath Cabinet 2.0: Check List of Ministers, Ministers of State (Independent Charge), and Ministers of State',
 'Jawahar Lal Nehru',
 'Indira Gandhi',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'Chandra Shekhar',
 'Atal Bihari Vajpayee',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi',
 'Can You Spot 5 Differences Between These Pictures Within A Minute?',
 'What You See in First 6 Seconds Reveals If You Can Stay In Long-Distance Relationships',
 'Prime Minister',
 'President',
 'List of all Presidents of India',
 'List of Current Chief Ministers in India',
 'List of International Awards received by Narendra Modi',
 'List of Chief Ministers of Karnataka (1947-2021)',
 'अभी खेलें',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [303]:
born_dead_tags=driver.find_elements(By.XPATH,'//p')
len(born_dead_tags)

124

In [304]:
born_dead_titles=[]
for i in born_dead_tags:
    born_dead_titles.append(i.text)
born_dead_titles[0:40]

['List of all Prime Ministers of India: Narendra Modi is the current and 14th Prime Minister of India. He would become the fourth Indian Prime Minister to serve two consecutive terms on the post and would be the first non-Congress Prime Minister of India who would complete two consecutive terms. The Prime Minister of India is the head of the government of the Republic of India. Executive authority is vested in the Prime Minister and their chosen Council of Ministers, though the President of India is the Constitutional, nominal and ceremonial head of the State. ',
 'In this article, we have mentioned the list of all the Prime Ministers of India along with their term starting from 1947 to 2022. ',
 'READ |',
 'List of Movies to Learn English: Watch These English Movies To Learn The Language Quickly!',
 'Yogi Adityanath Cabinet 2.0: Check List of Ministers, Ministers of State (Independent Charge), and Ministers of State',
 'List of all the Prime Ministers of India from 1947-2021',
 'S.N.',
 'Name',
 'Born-Dead',
 'Term of office',
 'Remark',
 '1.',
 'Jawahar Lal Nehru',
 '(1889–1964)',
 '15 August 1947 to 27 May 1964',
 '16 years, 286 days',
 'The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 '2.',
 'Gulzarilal Nanda (Acting)',
 '(1898-1998)',
 '27 May 1964 to 9 June 1964,',
 '13 days',
 'First acting PM of India',
 '3.',
 'Lal Bahadur Shastri',
 '(1904–1966)',
 '9 June 1964 to 11 January 1966',
 '1 year, 216 days',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '4. ',
 'Gulzari Lal Nanda  (Acting)',
 '(1898-1998)',
 '11 January 1966 to 24 January 1966',
 '13 days',
 '-',
 '5.',
 'Indira Gandhi',
 '(1917–1984)',
 '24 January 1966 to 24 March 1977',
 '11 years, 59 days']

Q10: Write a python program to display list of 50 Most expensive cars in the world https://www.motor1.com/

In [280]:
url="https://www.motor1.com/"
driver.get(url)

In [281]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]/div')
search_btn

In [282]:
search_btn.click()

In [283]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/button')
search_btn

In [284]:
search_btn.click()

In [285]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a')
search_btn

In [286]:
search_btn.click()

In [287]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[2]/div/div[1]/h3/a')
search_btn

In [288]:
search_btn.click()

In [289]:
car_name_tags=driver.find_elements(By.XPATH,'//a[@data-inline-widget="internal-links"]')
len(car_name_tags)

52

In [290]:
car_name_titles=[]
for i in car_name_tags:
    car_name_titles.append(i.text)
car_name_titles[0:40]

['Ferrari',
 'American speed king',
 'electric Hypercars',
 'Rolls-Royce',
 'Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza SP1',
 'T.33',
 'Koenigsegg Gemera',
 'Koenigsegg',
 'Hennessey Venom F5',
 'F5',
 'Bentley Bacalar',
 'Tuatara',
 'Emira',
 'Eletre',
 'Evija',
 'Aston Martin Vulcan',
 'Delage',
 'McLaren Speedtail',
 'McLaren',
 'Rimac Nevera',
 'Pininfarina Battista',
 'Pininfarina Battista',
 'T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Mercedes',
 'Project One',
 'Aston Martin',
 'Victor',
 'Hennessey',
 'Koenigsegg Jesko',
 'Absolut',
 'Aston Martin Valkyrie',
 'Aston Martin']

In [291]:
description_tags=driver.find_elements(By.XPATH,'//p')
len(description_tags)

110

In [292]:
description_titles=[]
for i in description_tags:
    description_titles.append(i.text)
description_titles[0:40]

['When it comes to high-end hypercars and super-fast supercars, a few companies should come to mind first: Bugatti, Ferrari, Koenigsegg, Rimac, and Pagani, among others. These manufacturers have cemented themselves as the top dogs in the supercar and hypercar space, extending to their wealthiest clientele the fastest, rarest, prettiest – and in this case – most expensive cars on the planet.',
 "But in order to find out which of these unattainable-to-most vehicles is the priciest, we've scoured the invoice sheets and uncovered 40 cars all worth $1 million or more. The group includes hybrid Ferrari convertibles, an American speed king, a few electric Hypercars, and two a one-of-a-kind Rolls-Royce cars built for royalty.",
 'We should note, though: The prices listed here are the price of the vehicles when new. So we’re not counting auction cars like the Ferrari 250 GTO, or overpriced secondhand sales. But don’t worry, there’s still hundreds of millions worth of cars here to whet your appetite.',
 'Top Videos:',
 'Price: $1.2 Million',
 'The Drako GTE is a super sedan in every sense of the word. Packing 1,200 horsepower and a whopping 6,491 pound-feet of torque from a fully electric powertrain, the GTE can hit 60 in just about 2.0 seconds and tops out at 206 miles per hour. The cost for this family-friendly rocket is a cool $1.2 million.',
 'Price: $1.3 Million',
 'The De Tomaso P72 is basically the definition of beautiful. The shapely supercar debuted at the 2019 Goodwood Festival Of Speed with a supercharged Ford V8 boasting 700 horsepower. The P72 marked the return of the DeTomaso brand after nearly 30 years on hiatus, and if you want one, it will cost you at least $1.3 million.',
 'Price: $1.4 Million',
 'At $1.4 million new, the Ferrari LaFerrari is actually one of the most affordable supercars on this list. It’s a bargain compared to the most expensive vehicle here. Debuting in 2013 with 950 hybrid horses (708 kilowatts) and a top speed of around 220 miles per hour (354 kilometers per hour), this is still Ferrari’s fastest and most powerful production model to date. The company built just 499 examples of the coupe between 2013 and 2016.',
 'Price: $1.4 Million',
 'Inarguably one of the prettiest cars on this list, the Pagani Huayra cost a cool $1.4 million when new. Like the LaFerrari, Pagani built the Huayra in extremely limited numbers. The company hand-constructed just 100 units of the coupe between 2012 and 2018, with another 20 versions of the BC model (which makes our list further down) between 2017 and 2019. Powering each and every example was a Mercedes-AMG V12 capable of 720 horsepower (537 kilowatts).',
 'Price: $1.7 Million',
 'The McLaren Elva is one of the latest additions to the British supercar maker’s storied legacy. Even without a proper windshield (though, no option) or roof to rely on, the Elva produces 804 horsepower and 590 pound-feet of torque from its twin-turbocharged 4.0-liter V8. Originally McLaren announced just 399 units, but later the company dropped that to an even more scarce 249 examples. Either way, most of you will never get your hands on one – the Elva costs $1.7 million.',
 'Price: $1.7 Million',
 'You might not know the name Czinger yet, but this California-based boutique automaker is responsible for the $1.7 million 21C supercar. With 1,250 horsepower on tap thanks to a 2.9-liter twin-turbocharged V8, the 21C can rocket to 60 miles per hour in 1.9 seconds and a top speed of around 281 miles per hour.',
 'Price: $1.7 Million',
 'Much like the roof-less McLaren Elva, the Ferrari Monza SP1 and SP2 are all about al fresco motoring. As the name implies, the SP1 is the single-seater option while the SP2 has just enough room for you to bring along a friend. Both cars come powered by the same naturally aspirated 6.5-liter V12 engine capable of 809 horsepower and 530 pound-feet. Unfortunately for US buyers, neither of these models are street legal in the States. But f you have the funds to afford the car’s $1.75 million price tag, getting onto a track probably won’t be an issue anyway.',
 'Price: $1.7 Million',
 "The second and slightly more affordable supercar in the new Gordon Murray lineup is the T.33. With 607 horsepower courtesy of a naturally aspirated 3.9-liter V12, the T.33 revs to a ridiculous 10,500 RPM. With a price tag of around $1.7 million at current conversion rates, Gordon Murray automotive promises to sell this car globally, in both right- and left-hand-drive configurations. Too bad it's already sold out.",
 'Price: $1.7 Million',
 'One of two Koenigsegg models on this list, the Gemera is actually the Swedish supercar maker’s first four-seater. But that doesn’t mean it’s some family car. With a twin-turbocharged 2.0-liter engine under the hood and three electric motors, the Gemera has 1,700 horsepower and will hit 60 in just 1.9 seconds. The company only plans to build 300 of them, each one costing at least $1.7 million.',
 'Price: $1.7 Million',
 'Hailing from Denmark, the Zenvo TSR-S debuted in 2018 at the Geneva Motor Show as the most extreme option in the supercar startup’s repertoire. Boasting a twin-charged 5.8-liter V8 engine, the TSR-S produces 1,177 horsepower and will hit 62 miles per hour in just 2.8 seconds. Expect to pay at least $1.7 million to get your hands on this powerful and limited supercar.',
 'Price: $1.8 Million',
 'The Hennessey Venom GT was a record-breaker, topping out at 265.7 miles per hour in a world record run. But the new F5 plans to beat its predecessor with an estimated top speed of 311 mph, and with that comes a higher price, too. The Venom F5 starts at $1.8 million, according to the company, which makes it just a bit pricier than its $1.2-million predecessor.',
 'Price: $1.9 Million',
 'With just 12 total units produced, the Bentley Bacalar makes some of the "limited" cars on this list look plentiful by comparison. Although the car’s opulent design may be the first thing to grab your attention, the Bacalar is no slouch in terms of performance either. With Bentley’s signature turbocharged 6.0-liter W12 turbocharged engine, this car delivers 650 horsepower and 664 pound-feet. If you have a spare $1.9 million lying around and are considering buying one, you’re already too late – Bentley says that every example is now in customer hands.',
 'Price: $1.9 Million',
 "To call the Hispano Suiza Carmen Boulogne beautiful would be... a stretch. But this interesting-looking supercar made its US debut at this year's Amelia Island Concours d'Elegance boasting a 1,114-horsepower electric powertrain and a 0-60 time of 2.6 seconds. The Boulogne version pictured here – the lighter and more powerful of the two – costs close to $1.9 million.",
 'Price: $2.0 Million',
 "The electric onslaught is coming. Bentley says it will be a fully electric automaker by 2030. But before the luxury brand transitions to battery power fully, the Mulliner Batur helps send the iconic W12 engine off in style. With 710 horsepower from that twin-turbocharged engine, the Batur is the most powerful Bentley ever. And since it's limited to just 18 examples globally, the Batur costs a whopping $2.0 million.",
 'Price: $2.0 Million',
 'The Deus Vayanne may not be a household name (yet), but the all-electric hypercar debuted earlier this year with 2,200 horsepower, a 0-60 time of just under 2.0 seconds, and an estimated top speed of 248 miles per hour. Deus plans to build 99 examples of the Vayanne, with the first few examples scheduled to go on sale in 2025.',
 'Price: $2.0 Million*',
 'Although initially cloaked in controversy, SSC did manage to hit 282.9 miles per hour with its Tuatara hypercar, breaking a world record. But not only is the Tuatara one of the fastest vehicles on the planet, it’s also one of the priciest. The cost for all that speed is estimated to be around $2.0 million for the base Tuatara, limited to just 100 units worldwide.',
 'Price: $2.1 Million',
 'With a new Emira sports car and an Eletre electric SUV, Lotus is on the brink of a comeback. The automaker plans to roll out a number of new products within the next few years, with part of that strategy including the range-topping Evija. This supercar comes in at a cool $2.1 million and produces nearly 2,000 horsepower via four electric motors. Lotus plans to build just 130 road-going examples of the Evija.',
 'Price: $2.3 Million',
 'As with a few other cars on this list, the Aston Martin Vulcan was a track-only special. The British supercar made its world debut in 2015, powered by a naturally aspirated 7.0-liter V12 that produced 820 horsepower, and limited to just 24 examples worldwide. An even more track-focused AMR Pro model followed, but even the base Vulcan was a pricey commodity, costing about $2.4-million from the factory.']

In [293]:
price_tags=driver.find_elements(By.XPATH,'//p')
len(price_tags)

110

In [294]:
price_titles=[]
for i in price_tags:
    price_titles.append(i.text)
price_titles[0:40]

['When it comes to high-end hypercars and super-fast supercars, a few companies should come to mind first: Bugatti, Ferrari, Koenigsegg, Rimac, and Pagani, among others. These manufacturers have cemented themselves as the top dogs in the supercar and hypercar space, extending to their wealthiest clientele the fastest, rarest, prettiest – and in this case – most expensive cars on the planet.',
 "But in order to find out which of these unattainable-to-most vehicles is the priciest, we've scoured the invoice sheets and uncovered 40 cars all worth $1 million or more. The group includes hybrid Ferrari convertibles, an American speed king, a few electric Hypercars, and two a one-of-a-kind Rolls-Royce cars built for royalty.",
 'We should note, though: The prices listed here are the price of the vehicles when new. So we’re not counting auction cars like the Ferrari 250 GTO, or overpriced secondhand sales. But don’t worry, there’s still hundreds of millions worth of cars here to whet your appetite.',
 'Top Videos:',
 'Price: $1.2 Million',
 'The Drako GTE is a super sedan in every sense of the word. Packing 1,200 horsepower and a whopping 6,491 pound-feet of torque from a fully electric powertrain, the GTE can hit 60 in just about 2.0 seconds and tops out at 206 miles per hour. The cost for this family-friendly rocket is a cool $1.2 million.',
 'Price: $1.3 Million',
 'The De Tomaso P72 is basically the definition of beautiful. The shapely supercar debuted at the 2019 Goodwood Festival Of Speed with a supercharged Ford V8 boasting 700 horsepower. The P72 marked the return of the DeTomaso brand after nearly 30 years on hiatus, and if you want one, it will cost you at least $1.3 million.',
 'Price: $1.4 Million',
 'At $1.4 million new, the Ferrari LaFerrari is actually one of the most affordable supercars on this list. It’s a bargain compared to the most expensive vehicle here. Debuting in 2013 with 950 hybrid horses (708 kilowatts) and a top speed of around 220 miles per hour (354 kilometers per hour), this is still Ferrari’s fastest and most powerful production model to date. The company built just 499 examples of the coupe between 2013 and 2016.',
 'Price: $1.4 Million',
 'Inarguably one of the prettiest cars on this list, the Pagani Huayra cost a cool $1.4 million when new. Like the LaFerrari, Pagani built the Huayra in extremely limited numbers. The company hand-constructed just 100 units of the coupe between 2012 and 2018, with another 20 versions of the BC model (which makes our list further down) between 2017 and 2019. Powering each and every example was a Mercedes-AMG V12 capable of 720 horsepower (537 kilowatts).',
 'Price: $1.7 Million',
 'The McLaren Elva is one of the latest additions to the British supercar maker’s storied legacy. Even without a proper windshield (though, no option) or roof to rely on, the Elva produces 804 horsepower and 590 pound-feet of torque from its twin-turbocharged 4.0-liter V8. Originally McLaren announced just 399 units, but later the company dropped that to an even more scarce 249 examples. Either way, most of you will never get your hands on one – the Elva costs $1.7 million.',
 'Price: $1.7 Million',
 'You might not know the name Czinger yet, but this California-based boutique automaker is responsible for the $1.7 million 21C supercar. With 1,250 horsepower on tap thanks to a 2.9-liter twin-turbocharged V8, the 21C can rocket to 60 miles per hour in 1.9 seconds and a top speed of around 281 miles per hour.',
 'Price: $1.7 Million',
 'Much like the roof-less McLaren Elva, the Ferrari Monza SP1 and SP2 are all about al fresco motoring. As the name implies, the SP1 is the single-seater option while the SP2 has just enough room for you to bring along a friend. Both cars come powered by the same naturally aspirated 6.5-liter V12 engine capable of 809 horsepower and 530 pound-feet. Unfortunately for US buyers, neither of these models are street legal in the States. But f you have the funds to afford the car’s $1.75 million price tag, getting onto a track probably won’t be an issue anyway.',
 'Price: $1.7 Million',
 "The second and slightly more affordable supercar in the new Gordon Murray lineup is the T.33. With 607 horsepower courtesy of a naturally aspirated 3.9-liter V12, the T.33 revs to a ridiculous 10,500 RPM. With a price tag of around $1.7 million at current conversion rates, Gordon Murray automotive promises to sell this car globally, in both right- and left-hand-drive configurations. Too bad it's already sold out.",
 'Price: $1.7 Million',
 'One of two Koenigsegg models on this list, the Gemera is actually the Swedish supercar maker’s first four-seater. But that doesn’t mean it’s some family car. With a twin-turbocharged 2.0-liter engine under the hood and three electric motors, the Gemera has 1,700 horsepower and will hit 60 in just 1.9 seconds. The company only plans to build 300 of them, each one costing at least $1.7 million.',
 'Price: $1.7 Million',
 'Hailing from Denmark, the Zenvo TSR-S debuted in 2018 at the Geneva Motor Show as the most extreme option in the supercar startup’s repertoire. Boasting a twin-charged 5.8-liter V8 engine, the TSR-S produces 1,177 horsepower and will hit 62 miles per hour in just 2.8 seconds. Expect to pay at least $1.7 million to get your hands on this powerful and limited supercar.',
 'Price: $1.8 Million',
 'The Hennessey Venom GT was a record-breaker, topping out at 265.7 miles per hour in a world record run. But the new F5 plans to beat its predecessor with an estimated top speed of 311 mph, and with that comes a higher price, too. The Venom F5 starts at $1.8 million, according to the company, which makes it just a bit pricier than its $1.2-million predecessor.',
 'Price: $1.9 Million',
 'With just 12 total units produced, the Bentley Bacalar makes some of the "limited" cars on this list look plentiful by comparison. Although the car’s opulent design may be the first thing to grab your attention, the Bacalar is no slouch in terms of performance either. With Bentley’s signature turbocharged 6.0-liter W12 turbocharged engine, this car delivers 650 horsepower and 664 pound-feet. If you have a spare $1.9 million lying around and are considering buying one, you’re already too late – Bentley says that every example is now in customer hands.',
 'Price: $1.9 Million',
 "To call the Hispano Suiza Carmen Boulogne beautiful would be... a stretch. But this interesting-looking supercar made its US debut at this year's Amelia Island Concours d'Elegance boasting a 1,114-horsepower electric powertrain and a 0-60 time of 2.6 seconds. The Boulogne version pictured here – the lighter and more powerful of the two – costs close to $1.9 million.",
 'Price: $2.0 Million',
 "The electric onslaught is coming. Bentley says it will be a fully electric automaker by 2030. But before the luxury brand transitions to battery power fully, the Mulliner Batur helps send the iconic W12 engine off in style. With 710 horsepower from that twin-turbocharged engine, the Batur is the most powerful Bentley ever. And since it's limited to just 18 examples globally, the Batur costs a whopping $2.0 million.",
 'Price: $2.0 Million',
 'The Deus Vayanne may not be a household name (yet), but the all-electric hypercar debuted earlier this year with 2,200 horsepower, a 0-60 time of just under 2.0 seconds, and an estimated top speed of 248 miles per hour. Deus plans to build 99 examples of the Vayanne, with the first few examples scheduled to go on sale in 2025.',
 'Price: $2.0 Million*',
 'Although initially cloaked in controversy, SSC did manage to hit 282.9 miles per hour with its Tuatara hypercar, breaking a world record. But not only is the Tuatara one of the fastest vehicles on the planet, it’s also one of the priciest. The cost for all that speed is estimated to be around $2.0 million for the base Tuatara, limited to just 100 units worldwide.',
 'Price: $2.1 Million',
 'With a new Emira sports car and an Eletre electric SUV, Lotus is on the brink of a comeback. The automaker plans to roll out a number of new products within the next few years, with part of that strategy including the range-topping Evija. This supercar comes in at a cool $2.1 million and produces nearly 2,000 horsepower via four electric motors. Lotus plans to build just 130 road-going examples of the Evija.',
 'Price: $2.3 Million',
 'As with a few other cars on this list, the Aston Martin Vulcan was a track-only special. The British supercar made its world debut in 2015, powered by a naturally aspirated 7.0-liter V12 that produced 820 horsepower, and limited to just 24 examples worldwide. An even more track-focused AMR Pro model followed, but even the base Vulcan was a pricey commodity, costing about $2.4-million from the factory.']