In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\hp\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\hp\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

Q.8 Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [2]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [3]:
driver=webdriver.Chrome(r'C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
driver.get("https://www.forbes.com/?sh=61a589f2254c")

In [5]:
billionaire_btn=driver.find_element(By.XPATH,'/html/body/div[1]/main/section[8]/div[1]/a')
billionaire_btn

In [6]:
billionaire_btn.click()

In [7]:
list_btn=driver.find_element(By.XPATH,'/html/body/div[1]/main/div/section/section[1]/div/div/div[1]/div/div[1]/div[1]/div[2]/a/h2')
list_btn

In [8]:
list_btn.click()

In [9]:
Rank=[]
Name=[]
Net_worth=[] 
Age=[]
Citizenship=[] 
Source=[] 
Industry=[]

In [10]:
rank_tags=driver.find_elements(By.XPATH,'//div[@class="rank"]')
len(rank_tags)

0

In [11]:
Rank=[]
for i in rank_tags:
    Rank.append(i.text)

In [12]:
name_tags=driver.find_elements(By.XPATH,'//div[@class="personName"]/div')
len(name_tags)

200

In [13]:
Name=[]
for i in name_tags:
    Name.append(i.text)

In [14]:
nw_tags=driver.find_elements(By.XPATH,'//div[@class="netWorth"]/div')
len(nw_tags)

200

In [15]:
Net_worth=[]
for i in nw_tags:
    Net_worth.append(i.text)

In [16]:
age_tags=driver.find_elements(By.XPATH,'//div[@class="age"]/div')
len(age_tags)

200

In [17]:
Age=[]
for i in age_tags:
    Age.append(i.text)

In [18]:
ct_tags=driver.find_elements(By.XPATH,'//div[@class="countryOfCitizenship"]')
len(ct_tags)

200

In [19]:
Citizenship=[]
for i in ct_tags:
    Citizenship.append(i.text)

In [20]:
s_tags=driver.find_elements(By.XPATH,'//div[@class="source-column"]')
len(s_tags)

200

In [21]:
Source=[]
for i in s_tags:
    Source.append(i.text)
Source

['Tesla, SpaceX',
 'Amazon',
 'LVMH',
 'Microsoft',
 'Berkshire Hathaway',
 'Google',
 'Google',
 'software',
 'Microsoft',
 'diversified',
 'infrastructure, commodities',
 'Bloomberg LP',
 'telecom',
 "L'Oréal",
 'Facebook',
 'Walmart',
 'beverages, pharmaceuticals',
 'Walmart',
 'Walmart',
 'cryptocurrency exchange',
 'Koch Industries',
 'Koch Industries',
 'Zara',
 'Dell computers',
 'TikTok',
 'media',
 'Nike',
 'retail',
 'batteries',
 'Amazon',
 'shipping',
 'luxury goods',
 'shipping',
 'internet media',
 'supermarkets',
 'Nutella, chocolates',
 'diversified',
 'investments',
 'real estate',
 'music, chemicals',
 'candy, pet food',
 'candy, pet food',
 'Chanel',
 'Chanel',
 'mining',
 'mining',
 'software services',
 'hedge funds',
 'home appliances',
 'casinos',
 'Red Bull',
 'eyeglasses',
 'hedge funds',
 'fashion retail',
 'online games',
 'BMW, pharmaceuticals',
 'vaccines',
 'package delivery',
 'pig breeding',
 'cryptocurrency exchange',
 'sensors',
 'automobiles',
 'cheese',
 'banking, tobacco',
 'Estee Lauder',
 'fintech',
 'mining',
 'e-commerce',
 'banking, tobacco',
 'Google',
 'hedge funds',
 'Quicken Loans',
 'hospitals',
 'internet, telecom',
 'money management',
 'newspapers, TV network',
 'BMW',
 'semiconductors',
 'batteries',
 'discount brokerage',
 'retail, investments',
 'soy sauce',
 'batteries, automobiles',
 'fasteners',
 "Aldi, Trader Joe's",
 'real estate',
 'steel, transport',
 'petrochemicals',
 'steel',
 'mining',
 'vaccines',
 'steel',
 'mining, copper products',
 'medical devices',
 'H&M',
 'hedge funds',
 'metals',
 'oil & gas',
 'pharmaceuticals',
 'chemicals',
 'real estate',
 'Shipping',
 'hedge funds',
 'finance, telecommunications',
 'home improvement stores',
 'commodities',
 'investments',
 'supermarkets',
 'Walmart',
 'Apple, Disney',
 'chemicals',
 'real estate',
 'medical devices',
 'automobiles, batteries',
 'pharmaceuticals',
 'automobiles',
 'beer',
 'real estate, shipping',
 'software',
 'real estate',
 'Heineken',
 'hedge funds',
 'messaging app',
 'software',
 'construction',
 'coal',
 'wireless networking gear',
 'media',
 'banking',
 'cement, sugar',
 'gas, chemicals',
 'telecom',
 'real estate',
 'agribusiness',
 'real estate',
 'fashion retail',
 'diversified',
 'video surveillance',
 'diversified',
 'steel, investments',
 'real estate',
 'business software',
 'solar wafers and modules',
 'real estate',
 'internet media',
 'hospitals',
 'venture capital',
 'diversified',
 'real estate',
 'batteries',
 'retail, media',
 'diversified',
 'discount brokerage',
 'paints',
 'solar panel components',
 'alcohol, real estate',
 'trading, investments',
 'shipping',
 'pharmaceuticals',
 'pharmaceuticals',
 'oil, banking, telecom',
 'energy',
 'palm oil, shipping, property',
 'smartphones',
 'shoes',
 'casinos/hotels',
 'Airbnb',
 'hedge funds',
 'Facebook',
 'steel, telecom, investments',
 'security software',
 'manufacturing',
 'e-commerce',
 'solar panels',
 'eBay, PayPal',
 'oil, gas',
 'medical devices',
 'coal, fertilizers',
 'e-commerce',
 'investments',
 'Google',
 'real estate',
 'roofing',
 'sports, real estate',
 'Dallas Cowboys',
 'banking, property',
 'Facebook',
 'oil',
 'e-commerce',
 'shipping',
 'investments',
 'investments',
 'petrochemicals',
 'drugstores',
 'investments',
 'beer',
 'private equity',
 'Airbnb',
 'movies, record labels',
 'semiconductors']

In [22]:
ind_tags=driver.find_elements(By.XPATH,'//div[@class="category"]/div')
len(ind_tags)

200

In [23]:
Industry=[]
for i in ind_tags:
    Industry.append(i.text)
Industry

['Automotive',
 'Technology',
 'Fashion & Retail',
 'Technology',
 'Finance & Investments',
 'Technology',
 'Technology',
 'Technology',
 'Technology',
 'Diversified',
 'Diversified',
 'Media & Entertainment',
 'Telecom',
 'Fashion & Retail',
 'Technology',
 'Fashion & Retail',
 'Food & Beverage',
 'Fashion & Retail',
 'Fashion & Retail',
 'Finance & Investments',
 'Diversified',
 'Diversified',
 'Fashion & Retail',
 'Technology',
 'Media & Entertainment',
 'Media & Entertainment',
 'Fashion & Retail',
 'Fashion & Retail',
 'Automotive',
 'Technology',
 'Logistics',
 'Fashion & Retail',
 'Logistics',
 'Technology',
 'Fashion & Retail',
 'Food & Beverage',
 'Diversified',
 'Finance & Investments',
 'Real Estate',
 'Diversified',
 'Food & Beverage',
 'Food & Beverage',
 'Fashion & Retail',
 'Fashion & Retail',
 'Metals & Mining',
 'Metals & Mining',
 'Technology',
 'Finance & Investments',
 'Manufacturing',
 'Gambling & Casinos',
 'Food & Beverage',
 'Fashion & Retail',
 'Finance & Investments',
 'Fashion & Retail',
 'Technology',
 'Automotive',
 'Healthcare',
 'Service',
 'Food & Beverage',
 'Finance & Investments',
 'Manufacturing',
 'Automotive',
 'Food & Beverage',
 'Finance & Investments',
 'Fashion & Retail',
 'Finance & Investments',
 'Metals & Mining',
 'Technology',
 'Manufacturing',
 'Technology',
 'Finance & Investments',
 'Finance & Investments',
 'Healthcare',
 'Telecom',
 'Finance & Investments',
 'Media & Entertainment',
 'Automotive',
 'Technology',
 'Automotive',
 'Finance & Investments',
 'Fashion & Retail',
 'Food & Beverage',
 'Automotive',
 'Manufacturing',
 'Fashion & Retail',
 'Real Estate',
 'Metals & Mining',
 'Energy',
 'Metals & Mining',
 'Metals & Mining',
 'Healthcare',
 'Metals & Mining',
 'Metals & Mining',
 'Healthcare',
 'Fashion & Retail',
 'Finance & Investments',
 'Metals & Mining',
 'Energy',
 'Healthcare',
 'Manufacturing',
 'Real Estate',
 'Logistics',
 'Finance & Investments',
 'Finance & Investments',
 'Fashion & Retail',
 'Diversified',
 'Finance & Investments',
 'Fashion & Retail',
 'Fashion & Retail',
 'Technology',
 'Manufacturing',
 'Real Estate',
 'Healthcare',
 'Automotive',
 'Healthcare',
 'Automotive',
 'Food & Beverage',
 'Diversified',
 'Technology',
 'Real Estate',
 'Food & Beverage',
 'Finance & Investments',
 'Technology',
 'Technology',
 'Construction & Engineering',
 'Metals & Mining',
 'Technology',
 'Media & Entertainment',
 'Finance & Investments',
 'Manufacturing',
 'Energy',
 'Telecom',
 'Real Estate',
 'Food & Beverage',
 'Real Estate',
 'Fashion & Retail',
 'Diversified',
 'Finance & Investments',
 'Service',
 'Metals & Mining',
 'Real Estate',
 'Technology',
 'Manufacturing',
 'Real Estate',
 'Technology',
 'Healthcare',
 'Technology',
 'Diversified',
 'Real Estate',
 'Energy',
 'Fashion & Retail',
 'Diversified',
 'Finance & Investments',
 'Manufacturing',
 'Manufacturing',
 'Food & Beverage',
 'Finance & Investments',
 'Logistics',
 'Healthcare',
 'Healthcare',
 'Energy',
 'Energy',
 'Diversified',
 'Technology',
 'Fashion & Retail',
 'Gambling & Casinos',
 'Technology',
 'Finance & Investments',
 'Technology',
 'Metals & Mining',
 'Technology',
 'Manufacturing',
 'Technology',
 'Energy',
 'Technology',
 'Energy',
 'Healthcare',
 'Metals & Mining',
 'Technology',
 'Finance & Investments',
 'Technology',
 'Real Estate',
 'Construction & Engineering',
 'Sports',
 'Sports',
 'Diversified',
 'Media & Entertainment',
 'Energy',
 'Technology',
 'Diversified',
 'Finance & Investments',
 'Finance & Investments',
 'Manufacturing',
 'Fashion & Retail',
 'Finance & Investments',
 'Food & Beverage',
 'Finance & Investments',
 'Technology',
 'Media & Entertainment',
 'Manufacturing']

In [24]:
len(Rank),len(Name),len(Net_worth),len(Age),len(Citizenship),len(Source),len(Industry)

(0, 200, 200, 200, 200, 200, 200)

In [25]:
Billionaires=pd.DataFrame()
Billionaires['Rank']= Rank
Billionaires['Name']= Name
Billionaires['Net_worth']= Net_worth
Billionaires['Age']= Age
Billionaires['Citizenship']= Citizenship
Billionaires['Source']= Source
Billionaires['Industry']= Industry
Billionaires

,Rank,Name,Net_worth,Age,Citizenship,Source,Industry
0,NaN,Elon Musk,$219 B,50,United States,"Tesla, SpaceX",Automotive
1,NaN,Jeff Bezos,$171 B,58,United States,Amazon,Technology
2,NaN,Bernard Arnault & family,$158 B,73,France,LVMH,Fashion & Retail
3,NaN,Bill Gates,$129 B,66,United States,Microsoft,Technology
4,NaN,Warren Buffett,$118 B,91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...,...
195,NaN,Marcel Herrmann Telles,$10.3 B,72,Brazil,beer,Food & Beverage
196,NaN,Leon Black,$10 B,70,United States,private equity,Finance & Investments
197,NaN,Joe Gebbia,$10 B,40,United States,Airbnb,Technology
198,NaN,David Geffen,$10 B,79,United States,"movies, record labels",Media & Entertainment
199,NaN,Yu Renrong,$10 B,56,China,semiconductors,Manufacturing